body{
    background-color: #360369;
    color: white;
}
h1{
    display: flex;
height: 100px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;

font-family: Montserrat;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
p{
    color: #FFF;

font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
#lat{
    width: 150px;
    background-color: #270846;
    padding: 10px;
    color: #FFF;

text-align: center;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#long{
    width: 150px;
    background-color: #270846;
    padding: 10px;
    margin-left: 20px;
    color: #FFF;

text-align: center;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.display{
    display: flex;
    gap:1rem;
    margin-top: 10px;
}
.display>span{
    padding: 10px;
}
.abc{
    width:200px;
    background-color: #270846;
    color: white;
}
#second{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}